* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0b0b0b;
  color: white;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 100px 10%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  color: #bdbdbd;
  line-height: 1.7;
}

button {
  padding: 14px 30px;
  border: none;
  border-radius: 999px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}

.panel-content {
  text-align: center;
}

.panel img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}